<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portfolio</title>
    <!-- external css -->
    <link rel="stylesheet" href="../css/portfolio1.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <!-- theader -->
    <section class="section1">
        <nav>
            <ol>
                <li class="logo">
                    <img class="Desktop" src="../images/logo.svg" alt="">
                    <img class="mobile" src="../images/logowhite.svg" alt="">
                </li>
                <li class="links">
                    <a href="">About me</a>
                    <a href="">Skills</a>
                    <a href="">Portfolio</a>
                    <a class="contact" href="">CONTACT ME</a>
                </li>
                <li class="menu dropdown">
                    <img class="dropbtn" src="../images/menu.svg" alt="menu">
                    <div class="dropdown-content">
                        <a href="#">About me</a>
                        <a href="#">Skills</a>
                        <a href="#">Portfolio</a>
                        <a href="#">CONTACT ME</a>
                      </div>
                </li>
            </ol>
        </nav>
        <div class="Line1">
            <div class="boxa">
                <div class="text-desktop">
                    <p class="one">Hi, I am</p>
                    <p class="two">Tomasz Gajda</p>
                    <p class="three">Front-end Developer / UI Designer</p>
                </div>
                <div class="text-mobile">
                    <p class="one">my name is Thomas</p>
                    <p class="two">I’M A DEVELOPER</p>
                    <p class="three"></p>
                </div>
                <div class="icons">
                    <div class="icon1 i"></div>
                    <div class="icon2 i"></div>
                    <div class="icon3 i"></div>
                </div>

            </div>
            <div class="boxb">
                <div class="text">
                    this is not my photo, but I dearly hope to get one just like this 
                </div>
            </div>
            <div class="boxa"></div>
        </div>
                    </section>
            
    <!-- main -->
    <!-- footer -->
     
</body>
</html>